@use "styles/mixins" as *;
@use "styles/colors" as *;
@use "styles/media" as *;

:root {
	--gfs: 14.4;

	@include mobileL {
		--gfs: 3.75;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 1vw;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	background-color: $white;
}

ul,
li,
dl {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}
