@use "styles/mixins" as *;
@use "styles/media" as *;

.root {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: remsize(20);

	@include tabletS {
		padding: remsize(10);
	}
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: remsize(70);

	@include tabletS {
		width: remsize(50);
		padding: 0;
	}
}

.nav {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: remsize(20);

	@include tabletS {
		width: 80%;
	}
}

.link,
.icon,
.logo {
	cursor: pointer;
	transition: transform 0.3s ease;
	@include hover {
		transform: scale(1.1);
	}
}

.link {
	font-size: remsize(18);
}

.icon {
	width: remsize(30);
	height: remsize(30);
	margin-bottom: remsize(5);
}
