@use "styles/mixins" as *;
@use "styles/media" as *;

.root {
	display: flex;
	flex-direction: column;
	margin-bottom: remsize(30);

	@include tabletS {
		align-items: center;
	}
}

.link {
	font-size: remsize(28);
	margin-bottom: remsize(25);
	cursor: pointer;
}

.list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: remsize(20);

	@include mobileL {
		grid-template-columns: repeat(2, 1fr);
		gap: remsize(20);
		width: 100%;
	}
}
